# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/

# IDE specific files
.idea/
.vscode/
.ipynb_checkpoints/
*.swp
*.swo
*.ipynb*

# OS specific files
.DS_Store
Thumbs.db

# Data files that shouldn't be tracked (customize as needed)
*.fastq
*.bam
*.sam
*.fasta
*.pth

# Experimental folders
**test**

__pycache__/
preliminary_test_data/
